:root{
  --articleBackgroundColor:#ffffff;
  --articleHeaderColor:#1a237e;
  --articleContentColor:#6775c4;
  --buttonColor:#ffab02;
  --buttonTextColor:#fffefd;
  --contentTextColor:#1a237e;
}

body{
  font-size: 1.2vw;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.leftSec{
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
}

.mainContent{
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: var(--articleContentColor);
 
}

.mainContent >h1{
  color: var(--articleHeaderColor);
  font-weight: normal;
  font-size: 3vw;
}

.rightSec{
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
}

.leftArticles{
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
}

.rightArticles{
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
  
}

.article{
  box-sizing: border-box;
  position:relative;
  width: 90%;
  height: auto;
  
  left: 50%;
  transform: translateX(-50%);
  padding: 2vw;
  margin-top: 4vh;

  border-style: solid;
  border-radius: 2px;
  border-color: #e0e0e0;
  background-color: var(--articleBackgroundColor);
}

.article > h1{
  color: var(--articleHeaderColor);
}

.article >p{
  color: var(--articleContentColor);
}

button{
  background-color: var(--buttonColor);
  padding:0.6vw;
  border-style: none;
  border-radius: 2px;
  font-weight: bold;
  color: var(--buttonTextColor);
}

.icon{
  width: 3vw;
  height: 3vw;
  background-color: var(--contentTextColor);
}

@media (max-width:480px){

  .mainContent >h1{
    font-size: 3vh;
  }

  .mainContent >p{
    font-size: 2vh;
  }

  .leftSec{
    position: relative;
    width: 100%;
    height: 50%;
  }

  .rightSec{
    position: relative;
    width: 100%;
    height: 50%;
  }

  .leftArticles{
    position: relative;
    width: 100%;
    height: 50%;
  }

  .rightArticles{
    position: relative;
    width: 100%;
    height: 50%;
  }

  .article{
    width: 50%;
    height: auto;
  }

  body{
    background-color: #edeff8;
  }
  


  
}

