:root{
  --articleBackgroundColor:#ffffff;
  --articleHeaderColor:#1a237e;
  --articleContentColor:#6775c4;
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.leftSec{
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
  background-color:#ffffff;
}

.mainContent{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 
}

.rightRight{
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
  background-color: #6775c4;
}